---
layout: "layouts/default.njk"
title: biografie
lang: primary
pathLangPrimary: /biografie
pathLangSecondary: /en/biography
url-active: bio-active
eleventyNavigation:
  key: Biografie
render: true
---

{% include "pages/bio.njk" %}
