{% import 'sections/service-macro.njk' as macro %}
{{
  macro.service(
    "shadow-sm",
    "bg-cyan-300",
    "lorem ipsum etc",
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, dicta."
  )
}}
{{
  macro.service(
    "shadow-lg",
    "bg-red-300",
    "lorem ipsum 2",
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, dicta."
  )
}}
{{
  macro.service(
    "shadow-sm",
    "bg-green-300",
    "lorem ipsum 3",
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, dicta."
  )
}}
