---
layout: "layouts/default.njk"
title: "home"
lang: secondary
pathLangPrimary: /
pathLangSecondary: /en/
permalink: /{{site.langSecondary}}/
url-active: home-active
---

{% include "pages/index.njk" %}
