---
layout: "layouts/default.njk"
title: kontakt
lang: secondary
url-active: contact-active
permalink: /{{site.langSecondary}}/contact
eleventyNavigation:
  key: Kontakt
  name-primary: Kontakt
  name-secondary: contact
  url-secondary: /en/contact
---

{% include "pages/contact.njk" %}
