---
layout: "layouts/default.njk"
title: "media"
lang: secondary
pathLangPrimary: /medien
pathLangSecondary: /en/media/
permalink: /{{site.langSecondary}}/media

url-active: media-active
eleventyNavigation:
  key: Medien
---

{% include "pages/media.njk" %}
