<div
  data-speed=".1"
  class="ml-6 mr-6 mb-6 min-h-screen place-items-start bg-[url({{contact.backgroundImage}})] bg-cover bg-fixed bg-right-top xs:pt-4 md:pt-20"
>
  <div
    class="place-items-start py-8 shadow-xl backdrop-blur-lg xs:mx-6 xs:mt-2 xs:bg-white/90 xs:px-3 xs:pb-12 md:m-6 md:w-1/2 md:bg-white/80 md:mt-10 md:px-8 lg:w-1/3"
  >
    <h1 class="self-end text-3xl text-primary font-light">{%if lang == 'primary'%}{{
      contact.titlePrimaryLanguage
    }}{%else%}{{ contact.titleSecondaryLanguage }}{%endif%}</h1>
   

    <p class="mb-6">
      E-Mail: {{contact.email}}
    </p>

    <p class="text-primary">{%if lang == 'primary'%}{{
      contact.photographersPrimaryLanguage
    }}{%else%}{{ contact.photographersSecondaryLanguage }}{%endif%}</p>
    <ul class="mb-6">
      
      {% for photographer in contact.photographers %}
       <li>{{ photographer.name }}</li>
      {% endfor %}
    </ul>
    </p>

    <p class="text-primary">{{contact.webDesign}}</p>
    <p>{{contact.webDesigner}}</p>
  </div>
</div>


