<div
  data-speed="-.4"
  class="parallax ml-6 mr-6 grid min-h-screen place-items-center bg-[url({{
    home.backgroundImage
  }})] bg-cover bg-right-top"
>
  <div
    class="grid columns-1 place-items-center gap-2 py-8 px-8 text-3xl tracking-wide text-cyan-800 shadow-xl backdrop-blur-md xs:translate-y-20 xs:bg-background/60 md:translate-y-0 md:bg-background/50 md:text-4xl"
  >
    <p class="editable self-end font-extralight uppercase drop-shadow">
      {{ home.name }}
    </p>
    <div class="self-start font-extralight uppercase drop-shadow">
      {%if lang == 'primary'%}
      <p class="editable">{{ home.instrumentLangPrimary }}</p>
      {%else%}
      <p class="editable">{{ home.instrumentLangSecondary }}</p>
      {%endif%}
    </div>
  </div>
</div>

<div class="parallax grid place-items-center bg-background">
  <div
    class="mt-10 mb-10 ml-6 mr-6 max-w-xl text-center font-average text-2xl text-slate-500"
  >
    {%if lang == 'primary'%}
    <p class="editable">
      {{ home.quoteLangPrimary }}
    </p>
    {%else%}
    <p class="editable">
      {{ home.quoteLangPrimary }}
    </p>
    {%endif%}
  </div>
</div>
