<div class="mx-auto px-6 mt-32">
  <div class="gallery">
    <div
      class="swiper-container gallery-slider relative"
      data-images-count="{{ media.images.length }}"
    >
      <div class="swiper-wrapper">
        {% for image in media.images %}
        <div class="swiper-slide">
          <img
            src="{{ image.src }}"
            alt="{{ image.alt }}"
            title="Photographer: {{ image.photographer }}"
          />
        </div>
        {% endfor %}
      </div>
      <div class="swiper-button-prev xs:hidden md:block"></div>
      <div class="swiper-button-next xs:hidden md:block"></div>
    </div>

    <div class="swiper-container gallery-thumbs">
      <div class="swiper-wrapper">
        {% for image in media.images %}
        <div class="swiper-slide">
          <img
            src="{{ image.src }}"
            alt="{{ image.alt }}"
            title="Photographer: {{ image.photographer }}"
          />
        </div>
        {% endfor %}
      </div>
    </div>
    <h1 class="self-end text-3xl text-primary font-light mt-10 mb-6">Videos</h1>
    {% for video in media.videos %}
    <div
      class="relative h-0 overflow-hidden max-w-full w-full mb-6"
      style="padding-bottom: 56.25%"
    >
      <iframe
        src="https://www.youtube.com/embed/{{ video.youTubeID }}"
        frameborder="0"
        allowfullscreen
        class="absolute top-0 left-0 w-full h-full"
      ></iframe>
    </div>
    {% endfor %}
  </div>
</div>
