<div class="mx-auto px-6">
  <div class="gallery">
    <div class="swiper-container gallery-slider relative">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/assets/img/marlen-home.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/marlen-mirror.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/marlen-sits.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/marlen-feet.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/marlen-black-white.jpg" alt="" />
        </div>
      </div>
      <div class="swiper-button-prev xs:hidden md:block"></div>
      <div class="swiper-button-next xs:hidden md:block"></div>
    </div>

    <div class="swiper-container gallery-thumbs">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/assets/img/marlen-home.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/marlen-mirror.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/marlen-sits.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/marlen-feet.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/marlen-black-white.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
