<footer
  class="mx-auto mb-5 flex justify-between px-6 text-primary md:container"
>
  <div>© {{home.name}} | {{  currentYear }}</div>
  <div class="space-x-1">
    <a href="mailto:mail@marlenkorf.com"
      ><i class="fa fa-envelope text-2xl" aria-hidden="true"></i
    ></a>
    <a href="https://facebook.com/marlenkorf"
      ><i class="fa-brands fa-facebook text-2xl" aria-hidden="true"></i>
      </i
    ></a>
    <a href="https://instagram.com/nelramfrok"
      ><i class="fa-brands fa-instagram text-2xl" aria-hidden="true"></i>
      </i
    ></a>
  </div>
</footer>
