<header class="w-full bg-white flex justify-between items-center px-6 py-4">
  <img src="/assets/img/8ZfcJCXi_400x400.jpg" alt="" class="h-12" />
  <nav class="">
    <ul class="flex space-x-4">
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
</header>
