<nav class="nav xs:relative md:fixed md:h-auto xs:w-screen z-20">
  <div class="white-bg"></div>
  <button
    class="md:hidden fixed hamburger hamburger--collapse top-6 right-6 z-20"
    type="button"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <ul
    class="ul-nav md:flex xs:bg-background justify-center items-center md:space-x-4 lg:space-x-8 fixed left-0 right-0 top-0 md:py-4 xs:pt-4 md:mt-0 xs:mb-0 md:mb-0 md:translate-y-0 xs:py-0 md:h-auto md:bottom-auto xs:top-0 xs:grid xs:place-items-center"
  >
    <li class="w-32 relative left-0 md:top-auto md:left-auto">
      <img class="relative" src="/assets/img/marlenlogo.svg" />
    </li>
    {% for item in navigation.items %}
    <li
      class="li-menu xs:mb-6 md:mb-0 xs:opacity-0 md:opacity-100 md:translate-y-0"
    >
      <a
        class="text-secondary uppercase relative transition ease-out tracking-wide pl-3 pr-3 pt-2 pb-2 hover:bg-primary/10 {% if page.url-active == item.url-active %}current font-normal{% endif %}"
        href="{%if lang == 'primary'%}{{ item.urlLangPrimary }}{%else%}{{
          item.urlLangSecondary
        }}{%endif%}"
        >{%if lang == 'primary'%}{{ item.nameLangPrimary }}{%else%}{{
          item.nameLangSecondary
        }}{%endif%}</a
      >
    </li>
    {% endfor %}

    <li class="li-menu xs:opacity-0 md:opacity-100">
      <a
        href="{{ pathLangPrimary }}"
        class="{%if lang == 'primary'%}text-primary {%else%}text-primary/70{%endif%}"
        >{{ site.langPrimary }} |</a
      >
      <a
        href="{{ pathLangSecondary }}"
        class="{%if lang == 'secondary'%}text-primary {%else%}text-primary/70{%endif%}"
        >{{ site.langSecondary }}</a
      >
    </li>
  </ul>
</nav>
