<!DOCTYPE html>
<html class="overflow-x-hidden" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{{ title }} -</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family={{
        site.data.settings.serif - text - font
      }}&family={{
        site.data.settings.body - text - font
      }}:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
  </head>
  <link rel="stylesheet" href="{{
    "/assets/css/main.css"
  }}">

  <body class="overflow-x-hidden min-h-screen">
    {% include "partials/_nav.njk" %}
    {{ content | safe }}
    {% include "partials/_footer.njk" %}
    <div class="fixed bottom-0 pt-6 bg-white z-10 w-screen"></div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
      integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"
      integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/assets/js/index.js"></script>
    <script>
      //Make google font suitable for both CSS and Google Font CDN
      // const googleFont = "{{site.data.settings.body-text-font}}"
      console.log(googleFont);
      googleFontCSS = googleFont.split("+").join(" ");
      googleFontCapitalized = googleFont
        .split(" ")
        .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
        .join("+");

      console.log(googleFontCSS);
      //Not necesarry for now
      console.log(googleFontCapitalized);
      //Add CSS to Body
      document.getElementsByTagName("body")[0].style.fontFamily = googleFontCSS;
    </script>
  </body>
</html>
